[run]
source = src
branch = True
omit =
	src/main.py
    */models.py
    */schemas.py
    */routes.py
    */__init__.py
    src/core/**

[report]
fail_under = 60
show_missing = True
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
